@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

button {
  background: none;
  border: none;
}

header {
  padding-bottom: 10px;
  padding-top: 3px;
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 99;
}
header .navigation {
  margin-left: 42px;
  margin-right: 43px;
  display: flex;
  justify-content: space-between;
}
header .navigation_left {
  font-size: 24px;
  color: #bf6523;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  min-width: 142px;
}
header .navigation_left span:last-child {
  font-size: 9px;
  text-align: center;
  background: #bf6523;
  color: #fff;
}
header .navigation_items {
  color: #bf6523;
  position: absolute;
  display: none;
  transition: all 300ms ease-in-out, opacity 100ms;
}
header .navigation_items ul li {
  margin-top: 10px;
}
header .navigation_items ul li:first-child {
  margin-top: 0;
}
header .navigation_burger {
  display: flex;
  flex-direction: column;
  z-index: 99;
}
header .navigation_burger span {
  display: flex;
  width: 20px;
  height: 2px;
  background-color: #bf6523;
  margin: 4px 0;
  border-radius: 50px;
  transition: all 300ms ease-in-out, opacity 100ms;
}
header .navigation.active .navigation_items {
  padding-left: 42px;
  margin-right: 43px;
  padding-top: 40px;
  background: #fff;
  right: 0;
  left: 0;
  top: 46px;
  display: flex;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  transition: all 300ms ease-in-out, opacity 100ms;
}
header .navigation.active .navigation_burger span {
  opacity: 0;
  transform-origin: center center;
}
header .navigation.active .navigation_burger span:first-child {
  transform: rotate(45deg);
  margin-bottom: -6px;
  opacity: 1;
}
header .navigation.active .navigation_burger span:last-child {
  transform: rotate(-45deg);
  margin-top: -6px;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  header {
    padding-bottom: 27px;
    padding-top: 14px;
  }
  header .navigation {
    margin-right: 150px;
  }
  header .navigation_burger {
    display: none;
  }
  header .navigation_left {
    font-size: 40px;
  }
  header .navigation_left span:last-child {
    font-size: 16px;
  }
  header .navigation_items {
    position: relative;
    display: flex;
    align-items: center;
  }
  header .navigation_items ul li {
    display: inline;
    margin-right: 30px;
  }
  header .navigation_items ul li:last-child {
    margin: 0;
  }
}

footer {
  position: relative;
  text-align: center;
  background: #e6e6e6;
  margin-top: 148px;
  padding-left: 42px;
  padding-right: 43px;
  padding-top: 27px;
  padding-bottom: 23px;
}
footer input {
  border-radius: 22px;
  width: 100%;
  height: 44px;
  padding-left: 24px;
  font-size: 16px;
  margin-bottom: 9px;
  border: none;
}
footer input::before {
  content: "";
  position: relative;
  width: 100%;
  height: 44px;
  background: #dbceab;
}
footer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer img {
  max-width: 28px;
}
@media screen and (min-width: 768px) {
  footer {
    padding-left: 400px;
    padding-right: 100px;
    margin-bottom: 100px;
    max-width: 50%;
    border-radius: 0 138px 138px 0;
  }
  footer input {
    width: 80%;
    padding-left: 30px;
    font-size: 20px;
    margin-right: 18px;
    margin-bottom: 0;
  }
  footer input img {
    margin-left: 18px;
  }
  footer form {
    flex-direction: row;
    align-items: flex-start;
  }
  footer img {
    max-width: 43px;
    max-height: 43px;
  }
}

.footer_title {
  color: #bf6523;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  font-family: Josefin, sans-serif;
  margin-bottom: 35px;
}
.footer_reseaux {
  font-size: 14px;
  font-family: Josefin, sans-serif;
  font-weight: bold;
  margin-top: 32px;
  color: #fcbf73;
  display: flex;
  flex-direction: column;
}
.footer_logo {
  margin-top: 16px;
}
.footer_logo img {
  max-height: 38px;
  max-width: none;
}
.footer_logo img:last-child {
  margin-left: 9px;
}
@media screen and (min-width: 768px) {
  .footer {
    position: relative;
  }
  .footer_title {
    font-size: 20px;
  }
  .footer_reseaux {
    flex-direction: row;
    align-items: center;
    font-size: 20px;
  }
  .footer_reseaux span {
    margin-right: 46px;
  }
  .footer_logo {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .footerContainer::after {
    content: url("../image/polygone.svg");
    position: absolute;
    right: -30px;
    top: -50px;
  }
}

.homeInfo {
  margin-bottom: 87px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.homeInfo_title {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #bf6523;
  font-size: 30px;
  max-width: 122px;
}
.homeInfo_subtitle {
  background: #bf6523;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 5px;
  padding-top: 1px;
}
.homeInfo_text {
  position: relative;
  margin-top: 37px;
  font-size: 16px;
  color: #707070;
}
@media screen and (min-width: 768px) {
  .homeInfo {
    margin-bottom: 149px;
  }
  .homeInfo_title {
    padding-top: 108px;
    font-size: 75px;
    max-width: none;
  }
  .homeInfo_subtitle {
    font-size: 40px;
  }
  .homeInfo_text {
    margin-top: 65px;
    max-width: 973px;
    font-size: 20px;
  }
  .homeInfo_text::after {
    width: 400px;
    left: -400px;
  }
  .homeInfo_text::before {
    width: 400px;
    right: -400px;
  }
}

.homeProduct {
  text-align: center;
  color: #707070;
}
.homeProduct_image {
  max-width: 190px;
}
.homeProduct_title {
  color: #bf6523;
  padding-top: 13px;
  padding-bottom: 12px;
  font-size: 20px;
  font-weight: bold;
}
.homeProduct_text {
  font-size: 16px;
}
.homeProduct_button {
  padding: 5px 31px 6px 29px;
  background: #fcbf73;
  border-radius: 15px;
}
.homeProduct_button button {
  padding-top: 22px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.homeProduct:nth-child(2) {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .homeProduct {
    max-width: 366px;
    flex-direction: column;
  }
  .homeProduct_image {
    max-width: 300px;
  }
  .homeProduct_button {
    padding: 20px 40px 12px 40px;
    border-radius: 40px;
  }
  .homeProduct_button button {
    margin-top: 30px;
  }
  .homeProduct_title {
    font-size: 30px;
  }
  .homeProduct_text {
    font-size: 20px;
  }
  .homeProduct:nth-child(2) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.homeProducts {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .homeProducts {
    justify-content: space-evenly;
    flex-direction: row;
  }
}

body {
  font-family: Roboto, sans-serif;
}
body .pageHome {
  margin-left: 42px;
  margin-right: 43px;
}
body .pageHome .home_image {
  height: 100%;
  display: flex;
  align-items: center;
  min-height: 667px;
}
body .pageHome .home_image img {
  position: absolute;
  left: 0;
  z-index: -99;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
body .pageHome .home_content {
  font-size: 16px;
  font-weight: normal;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: #fff;
  color: #b2b2b2;
  padding-top: 18px;
  padding-bottom: 30px;
  padding-left: 31px;
  padding-right: 32px;
}
body .pageHome .home_content a {
  background: #bf6523;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 7px;
  padding-bottom: 12px;
}
body .pageHome .home_content a button {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
body .pageHome .home_content a:last-child button {
  margin-top: 30px;
}
body .pageHome .home_links {
  display: flex;
  flex-direction: column;
}
body .pageHome .home_title {
  font-family: Josefin, sans-serif;
  font-size: 36px;
  font-weight: 300;
  text-align: start;
  text-transform: uppercase;
  margin-bottom: 22px;
  color: #fcbf73;
}
body .pageHome .home_text {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  body .pageHome .home_image {
    min-height: 100vh;
  }
  body .pageHome .home_content {
    font-size: 24px;
    font-weight: normal;
    max-width: 799px;
    text-align: start;
    padding-left: 49px;
    padding-right: 42px;
    padding-bottom: 61px;
    padding-top: 51px;
  }
  body .pageHome .home_content a {
    font-size: 24px;
    font-weight: bold;
    max-width: 259px;
    margin-right: 20px;
  }
  body .pageHome .home_content a:last-child button {
    margin-top: 0;
  }
  body .pageHome .home_title {
    font-size: 80px;
    font-weight: light;
  }
  body .pageHome .home_links button {
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
